.navwrap {
	background: #00a8a2
}
#menu, #menu ul {
	margin: 0;
	padding: 0;
	list-style: none
}
#menu {
	width: 960px;
	margin: 0 auto;
	z-index: 999
}
.rightbar h2 {
	margin-top: 0
}
#menu:before, #menu:after {
	content: "";
	display: table
}
#menu:after {
	clear: both
}
#menu {
	zoom: 1
}
#menu li {
	float: left;
	position: relative
}
#menu a {
	float: left;
	padding: 12px 30px;
	color: #fff;
	font: 700 12px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000
}
#menu ul {
	margin: 20px 0 0 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 160;
	background: #444;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, .3);
	border-radius: 3px;
	transition: all .2s ease-in-out
}
#menu li:hover>ul {
	opacity: 1;
	visibility: visible;
	margin: 0
}
#menu ul ul {
	top: 0;
	left: 150px;
	margin: 0 0 0 20px;
	box-shadow: -1px 0 0 rgba(255, 255, 255, .3)
}
#menu ul li {
	float: none;
	display: block;
	border: 0;
	box-shadow: 0 1px 0 #111, 0 2px 0 #666
}
#menu ul li:last-child {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none
}
#menu ul a {
	padding: 10px;
	width: 160px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none
}
#menu ul a:hover, #menu ul a.active {
	background-color: #E07736
}
#menu ul li:first-child>a {
	border-radius: 3px 3px 0 0
}
#menu ul li:first-child>a:after {
	content: '';
	position: absolute;
	left: 40px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #444
}
#menu ul ul li:first-child a:after {
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #3b3b3b
}
#menu ul li:first-child a:hover:after, #menu ul li:first-child .active:after {
	border-bottom-color: #E07736
}
#menu ul ul li:first-child a:hover:after {
	border-right-color: #0299d3;
	border-bottom-color: transparent
}
#menu ul li:last-child>a {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px
}
#menu-trigger {
	display: none
}
.no-transition {
	transition: none;
	opacity: 1;
	visibility: visible;
	display: none
}
#menu li:hover>.no-transition {
	display: block
}

#menu-trigger {
	background-color: #00a8a2
}
#menu {
	z-index: 160
}
#menu a {
	padding: 8px 35px;
	font-size: 12px
}
#menu a {
	font-size: 12px;
	font-weight: 400;
	padding: 15px 30px;
}
#menu a:hover, #menu a.active, #menu li:hover>a {
	background: #1ba062 !important;
	color: #fff !important;
}
#menu ul {
	box-shadow: none;
}
#menu ul a {
	font-size: 12px;
	min-width: 190px;
	overflow: hidden;
	width: auto;
}
#menu ul a:hover, #menu ul a.active {
	background-color: #1ba062;
}
#menu ul li {
	box-shadow: none;
}
#menu ul li:first-child>a:after {
	border: none;
}
#menu-trigger {
	background: #325174;
}
#menu a, #menu ul a {
	width: auto;
	overflow: auto;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: 400;
}
#menu a {
	font-size: 13px;
	font-weight: 700;
	padding: 12px 21px;
}
#menu li:hover > a, #menu li > a.active, .callUs h5, .callUs h6, h1.logo a, h1.logo a:hover {
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
#menu ul {
    background: #076079;
    box-shadow: none;
}
@media screen and (max-width:992px) {
	#menu-wrap {
		position: relative
	}
	#menu-wrap * {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box
	}
	#menu-trigger {
		display: block;
		height: 40px;
		line-height: 40px;
		cursor: pointer;
		padding: 0 0 0 35px;
		color: #fafafa;
		font-weight: 700;
		background-color: #E07736
	}
	#menu {
		margin: 0;
		padding: 10px;
		position: absolute;
		top: 40px;
		width: 100%;
		background-color: #444;
		display: none;
		box-shadow: none
	}
	#menu:after {
		content: '';
		position: absolute;
		left: 25px;
		top: -8px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #444
	}
	#menu ul {
		position: static;
		visibility: visible;
		opacity: 1;
		margin: 0;
		background: 0 0;
		box-shadow: none
	}
	#menu ul ul {
		margin: 0 0 0 20px !important;
		box-shadow: none
	}
	#menu li {
		position: static;
		display: block;
		float: none;
		border: 0;
		margin: 5px;
		box-shadow: none
	}
	#menu ul li {
		margin-left: 40px;
		box-shadow: none
	}
	#menu a {
		display: block;
		float: none;
		padding: 0
	}
	#menu a:hover {
		color: #fafafa
	}
	#menu ul a {
		padding: 0;
		width: auto
	}
	#menu ul a:hover {
		background: 0 0
	}
	#menu ul li:first-child a:after, #menu ul ul li:first-child a:after {
		border: 0
	}
	#menu * {
		border-radius: 0 !important;
	}
	#menu a {
		font-size: 12px;
		font-weight: 400;
		padding: 15px 30px;
	}
}
@media screen and (min-width:992px) {
	#menu {
		display: block !important
	}
	#menu ul {
	    top: 40px;
	}	
}
#menu ul a {
    padding: 10px;
}