<?xml version="1.0" encoding="UTF-8"?>

<!--
	You need the Rewrite Module for IIS 7 (http://www.iis.net/download/URLRewrite) installed before enabling URL rewriting.
	Uncomment the "rewrite" section below and restart IIS/CF to enable URL rewriting.
	You can add your own files and folders that should be excluded from URL rewriting by adding them to the "pattern".
	This file can be deleted if you're not planning on using URL rewriting with IIS 7.
	Please read the online documentation on http://cfwheels.org for more information.
-->

<configuration>
	<system.webServer>

		<rewrite>
			<rules>
				<rule name="ColdFusion on Wheels URL Rewriting" enabled="true">
					<match url="^(.*)$" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
						<add input="{SCRIPT_NAME}" negate="true" pattern="^/(flex2gateway|assets|jrunscripts|errorlog.html|wheels.zip|assets|cfformgateway|cffileservlet|images|javascripts|miscellaneous|stylesheets|robots.txt|favicon.ico|favicon.png|sitemap.xml|rewrite.cfm|views|railo-context)($|/.*$)" />
					</conditions>
					<action type="Rewrite" url="/rewrite.cfm/{R:1}" />
				</rule>
			</rules>
		</rewrite> 

		<httpErrors errorMode="Detailed" existingResponse="PassThrough" />
		        	
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mpeg" />
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
			<clientCache cacheControlCustom="public" cacheControlMaxAge="12:00:00" cacheControlMode="UseMaxAge" />
        </staticContent>
		
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
			<dynamicTypes>
			  <add mimeType="text/*" enabled="true" />
			  <add mimeType="message/*" enabled="true" />
			  <add mimeType="application/javascript" enabled="true" />
			  <add mimeType="*/*" enabled="false" />
			</dynamicTypes>
			<staticTypes>
			  <add mimeType="text/*" enabled="true" />
			  <add mimeType="message/*" enabled="true" />
			  <add mimeType="application/javascript" enabled="true" />
			  <add mimeType="*/*" enabled="false" />
			</staticTypes>			
		</httpCompression>
		
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <!--<handlers>
            <remove name="Helicon.Ape Handler" />
        </handlers>
        <modules>
            <remove name="Helicon.Ape" />
        </modules>-->
		
		
	</system.webServer>
</configuration>